<a class="dropdown-toggle" data-toggle="dropdown" href="#">
  {{currency.symbol}} <span class="caret"></span>
</a>
<ul class="dropdown-menu">
  <li>
  <a data-ng-click="setCurrency('USD')" data-ng-class="{active: currency.symbol == 'USD'}">USD</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('XP')" data-ng-class="{active: currency.symbol == 'XP'}">XP</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('mXP')" data-ng-class="{active: currency.symbol == 'mXP'}">mXP</a>
  </li> 
  <li>
  <a data-ng-click="setCurrency('μXP')" data-ng-class="{active: currency.symbol == 'μXP'}">μXP</a>
  </li>
</ul>

